* {
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.header, .footer {
    height: min-content;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    display: flex;
    gap: 16px;
    margin-right: 8px;
}

.content.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text{
    flex: auto;
    margin: auto;
    padding: 32px;
}

.hero-image {
    flex: 0 0 auto;
    height: 200px;
    width: 500px;
    border: 1px solid blue;
}

.content.products {
    height: min-content;
    flex: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: min-content;
    height: min-content;
    flex: 0 0 auto;
    border: 3px solid black;
}

.card-image {
    border: 5px solid blue;
    width: 100px;
    height: 100px;
}



.content.action {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section{
    display: flex;
    align-items: center;
    justify-content: center;
}